ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=user
ELASTICSEARCH_PASSWORD=password
HTTP_HOST=0.0.0.0
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
XPACK_MONITORING_ELASTICSEARCH_URL=http://elasticsearch:9200
XPACK_MONITORING_ELASTICSEARCH_USERNAME=user
XPACK_MONITORING_ELASTICSEARCH_PASSWORD=password
